.header{
	text-align: center;
}

body {
	font-family: "Avenir Next" !important;
	color: #CCCCFF;
	background-image: url('space.jpg');
	padding-top: 10px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 60px;
}

.content{
	padding-top: 25px;
}

ul {
	margin: 0px;
}

h4 {
	margin-bottom: 10px;
}

.bold {
	font-weight: bold;
}

.underline {
	text-decoration: underline;
}

.italics{
	font-style: italic;
}